@{
    ViewData["Title"] = "Food/Groceries";
    ViewData["GalleryImages"] = new List<string>
    {
        Url.Content("~/images/placeholder.jpg"),
        Url.Content("~/images/placeholder2.jpg"),
        Url.Content("~/images/placeholder3.jpg")
    };
}

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Food">Food / Groceries</a></h2>
    <p>
        Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve
        American-style meals, and two serve Pan-Asian cuisine. Taniti has two supermarkets, two
        smaller grocery stores, and one convenience store that is open 24 hours a day.
    </p>
</div>