@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4 text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About the Island</a></h1>
    <p>
        Taniti is a small, tropical island in the Pacific. While the island has an area of 
        less than 500 square miles, the terrain is varied and includes both sandy and rocky
        beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior 
        that includes a small, active volcano. Taniti has an indigenous population of about 
        20,000. Until a recent increase in tourism, most the Tanitian economy was dominated by 
        fishing or agriculture.
    </p>
</div>

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Food">Food / Groceries</a></h2>
    <p>
        Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve
        American-style meals, and two serve Pan-Asian cuisine. Taniti has two supermarkets, two 
        smaller grocery stores, and one convenience store that is open 24 hours a day.
    </p>
</div>

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Lodging">Lodging</a></h2>
    <p>
        Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, 
        four-star resort. There are many small, family-owned hotels and a growing number of bed 
        and breakfasts. All types of lodging are strictly regulated and regularly inspected by 
        the Tanitian government.
    </p>
</div>

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToDo">Things to Do</a></h2>
    <p>
        Most people visit Taniti to enjoy the beaches, explore the rainforest, and to visit the 
        volcano. However, there are other things to do, including visiting a local history museum,
        going on chartered fishing tours, snorkeling, zip-lining in the rainforest, visiting several 
        pubs, including a microbrewery, dancing at a new dance club, seeing a movie, taking 
        helicopter rides, playing at an arcade, visiting art galleries, and bowling. Also, a nine-hole 
        golf course should be operational by next year. Many of these activities are located in Merriton
        Landing, which is a rapidly developing area on the north side of Yellow Leaf Bay.
        Most tourists spend most of their time in Taniti City, which boasts native architecture and nearby
        white, sandy beaches that encircle Yellow Leaf Bay. Other popular activities include boat or bus 
        tours of the island, hikes in the rainforest, or visits to Taniti’s active volcano.
    </p>
</div>

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Transportation">Transportation</a></h2>
    <p>
        Almost all visitors arrive to Taniti by air, though some arrive on a small cruise ship that docks 
        in Yellow Leaf Bay for one night per week. Taniti is served by a small airport that can accommodate
        small jets and propeller planes. Taniti is in the process of expanding the airport so larger jets 
        will be able to land on the island within the next few years. Public buses serve Taniti City and 
        run from 5 a.m. to 11 p.m. every day. Private buses serve the rest of the island. Taxis are
        available in Taniti City, and rental cars can be rented from a local rental agency near the airport. 
        Bikes and helmets are available to rent from several vendors (helmets are required by law). 
        Taniti City is fairly flat and very walkable. Many tourists stay in the area surrounding Merriton
        Landing: this area is easy to explore on foot.
    </p>
</div>

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQs</a></h2>
    <p>
        A lot of our travelers have similar questions. If you are curious about something, check out 
        our FAQs to see if your question has already been answered!
    </p>
</div>
