@{
    ViewData["Title"] = "Lodging";
    ViewData["GalleryImages"] = new List<string>
    {
        Url.Content("~/images/placeholder.jpg"),
        Url.Content("~/images/placeholder2.jpg"),
        Url.Content("~/images/placeholder3.jpg")
    };
}

<div>
    <h2 class="display-4 text-center"><a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Lodging">Lodging</a></h2>
    <p>
        Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large,
        four-star resort. There are many small, family-owned hotels and a growing number of bed
        and breakfasts. All types of lodging are strictly regulated and regularly inspected by
        the Tanitian government.
    </p>
</div>